nav ul {
    display: flex;
    font-family: "brandon-grotesque", sans-serif;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: white;
    border-color: #fff;
    text-transform: uppercase;
    animation-name: bounceInLeft;
    animation-duration: 5s;
    align-items: center;
}

nav a:hover {
    border-bottom: 5px solid white;
}

body {
    background-color: #1b49be;
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    align-items: center;
}

@media all and (max-width: 1024px) {
    body {
        width: auto;
        margin: auto;
    }
    nav {
        width: auto;
        text-align: left;
        margin: auto;
    }
    nav ul {
        flex-direction: column;
    }
    nav li {
        padding-left: 4px;
    }
    nav a {
        font-size: 1.1em;
    }
    nav a:hover {
        border-bottom: 0;
    }
    img {
        width: auto;
        margin: auto;
    }
}

.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceInLeft {
    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInLeft {
    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}